Options -Indexes
<IfModule mod_headers.c>
  Header set Access-Control-Allow-Origin "*"
  Header set X-Content-Type-Options "nosniff"
</IfModule>
<FilesMatch "\.(json)$">
  ForceType application/json
</FilesMatch>


